workflows/ia/00681-notion-ai-blog-update.json
{
  "name": "DeepSeek v3.1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "356f5cec-deb9-80bf-b70f-c463118b84ff",
          "mode": "list",
          "cachedResultName": "Gestión de Blog",
          "cachedResultUrl": "https://www.notion.so/356f5cecdeb980bfb70fc463118b84ff"
        }
      },
      "id": "8fe3ba95-636b-41cd-83d1-27ed9b0a51f9",
      "name": "Watch Notion Updates1",
      "type": "n8n-nodes-base.notionTrigger",
      "position": [
        368,
        160
      ],
      "typeVersion": 1,
      "credentials": {
        "notionApi": {
          "id": "tkp36AddHtVtkSPK",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert in SEO content writing.\nYour mission is to create, publish, and notify about a search engine-optimized article for a blog.\nHere are the keywords related to my topic:  {{ $('Watch Notion Updates1').item.json.Name }}\n\nFollow the steps below:\n\n1. **Write an SEO-optimized article with a maximum of 20 lines** based on the provided information:\n   - Structure the article with a catchy **H1 title**, one or two **H2 subtitles**, and a professional yet accessible tone.\n   - Extract and include relevant keywords from the data.\n   - Optimize for readability: short sentences, clear paragraphs, and a CTA if relevant.\n   - Do not exceed 20 lines of content.\n\n2. **Publish the article on WordPress**, including:\n   - The **title** as the article's headline\n   - The **SEO content** as the body\n\n3. **Send an email** to my address : {{ $json.emailAddress }} containing:\n   - The article's title\n   - The **URL** of the published article on WordPress\n\n4. **Retrieve the list of available Notion tools first** using “Notion Tools”.\n   Then, **add a update the entry to my Notion database** (ID database: {{ $json.notionDatabaseId }}) ID items : {{ $json.notionItemId }}\nwith the following fields:\n   - The 'Name' column is of type 'title'  → {{ $('Watch Notion Updates1').item.json.Name }}\n   The 'Subject' column is of type 'rich_text' → [the article's headline]\n   - The 'Content'column is of type 'rich_text' → [The SEO content]\n   - The 'URL' column is of type 'URL': → [The article link]\n   - The 'Status' column is of type 'select' → Select: `publish`\n\nImportant: Ensure that each step is successfully completed **before proceeding to the next**.",
        "options": {}
      },
      "id": "78902f1d-5268-42e8-a53d-80e0fa7c1ad1",
      "name": "AI Task Planner1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1312,
        160
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "id": "83c27045-8fa0-47af-9ca0-1fb9a325fdb4",
      "name": "Send Email1",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1376,
        432
      ],
      "webhookId": "f87279e8-34e4-4fd1-81d3-677707e215de",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "2z152JjtG5gHt7eH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {
          "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Content', ``, 'string') }}",
          "status": "draft"
        }
      },
      "id": "2800c325-ffbf-4343-965c-f646e4eed394",
      "name": "Publish Blog Post1",
      "type": "n8n-nodes-base.wordpressTool",
      "position": [
        1488,
        432
      ],
      "typeVersion": 1,
      "credentials": {
        "wordpressApi": {
          "id": "CnrcFsH3R5aTKYZg",
          "name": "Wordpress account 3"
        }
      }
    },
    {
      "parameters": {},
      "id": "862c8753-565d-4217-93bc-c00d5a57cf94",
      "name": "Notion List Available Tools1",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        1648,
        432
      ],
      "typeVersion": 1,
      "credentials": {
        "mcpClientApi": {
          "id": "E7J2mzx067vNNKi3",
          "name": "MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"tool\", \"the tool selected\")  }}",
        "toolParameters": "={{ $fromAI('tool_parameters', ``, 'json') }}"
      },
      "id": "13114872-0cfe-4f40-b01e-9ac89ece8538",
      "name": "Notion Run a Tool1",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        1808,
        432
      ],
      "typeVersion": 1,
      "credentials": {
        "mcpClientApi": {
          "id": "E7J2mzx067vNNKi3",
          "name": "MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Smart Content Automation Workflow\nAutomatically reacts to Notion updates, uses AI to process data, and triggers actions like sending emails or publishing blog posts.\n**Openrouter** : [API](https://openrouter.ai/settings/keys)",
        "height": 580,
        "width": 1100
      },
      "id": "cb0d7965-02d9-48f3-be00-74d66d005f55",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c06b2d24-1fd7-40f0-aee5-b5d6553e289e",
              "name": "emailAddress",
              "type": "string",
              "value": ""
            },
            {
              "id": "8a294900-f367-47a2-b260-344b133dc2ff",
              "name": "notionDatabaseId",
              "type": "string",
              "value": ""
            },
            {
              "id": "a34469ad-5229-4c4d-bc5d-71c88686bd37",
              "name": "notionItemId",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "510b8eff-ce2e-44a1-b06f-03bc964b984f",
      "name": "Edit Workflow Variables1",
      "type": "n8n-nodes-base.set",
      "position": [
        688,
        160
      ],
      "typeVersion": 3.4,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "## Workflow Configuration Panel\n🛠️ **Set your variables here** (email, Slack, Notion, OpenAI model)",
        "height": 300,
        "width": 360,
        "color": 6
      },
      "id": "7b6001bb-385d-4c08-bcf3-05027d08b54a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1152,
        400
      ],
      "id": "c7ed0ee5-35b5-4b9c-a898-fd9e5732b575",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wqFjvtMB9mrpA2K0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Watch Notion Updates1": {
      "main": [
        [
          {
            "node": "Edit Workflow Variables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email1": {
      "ai_tool": [
        [
          {
            "node": "AI Task Planner1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Publish Blog Post1": {
      "ai_tool": [
        [
          {
            "node": "AI Task Planner1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Notion List Available Tools1": {
      "ai_tool": [
        [
          {
            "node": "AI Task Planner1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Notion Run a Tool1": {
      "ai_tool": [
        [
          {
            "node": "AI Task Planner1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Workflow Variables1": {
      "main": [
        [
          {
            "node": "AI Task Planner1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Task Planner1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e317a0e2-1caa-4b1e-8b87-29b41466fafc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b1a7ff0aebfe7be88aee8377ae86bd780af56bc2016aa5d6396954af499c2e49"
  },
  "id": "0HIelaby18nFhYDv",
  "tags": [
    {
      "updatedAt": "2026-05-04T06:06:15.967Z",
      "createdAt": "2026-05-04T06:06:15.967Z",
      "id": "1V2TtfzhoSgWVSkF",
      "name": "DeepSeek"
    }
  ]
}